body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  min-height: 82.9vh;
  background-color: #f8f8f8;
  flex: 1;
  padding-bottom: 30px;
  margin: 0 auto;
}
