<footer>
  <div class="footer-left">
    <span>{{ '2025-01-01' | date:'yyyy' }} Hotel Booking</span> 
    <a routerLink="/404">Privacy</a>
    <a routerLink="/404">Terms</a>
  </div>

  <div class="footer-right">
    <div class="language">
      <span class="material-icons">public</span>
      <span>English</span>
    </div>
    <div class="currency">
      <span class="material-icons">attach_money</span>
      <span>USD</span>
    </div>
    <div class="social-icons">
      <a routerLink="/404">
        <i class="fab fa-facebook"></i>
      </a>
      <a routerLink="/404">
        <i class="fab fa-twitter"></i>
      </a>
      <a routerLink="/404">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
